<header>
    <div class="container">
       <div class="logo">
           E+
           <a routerLink="/"></a>
        </div>
    </div>
</header>
<div class="left-menu">
    <div class="container">
                    <div class="nav-link">
                        <a routerLink="/login"></a>
                        <i class="fa fa-user"></i> 
                        <div class="nav-name">Account</div>
                    </div> 
                    <div class="nav-link">
                            <a routerLink="/diary"></a>
                            <i class="fa fa-book"></i> 
                            <div class="nav-name">Diary</div>
                        </div> 
                        <div class="nav-link">
                                <a routerLink="/group"></a>
                                <i class="fa fa-group"></i> 
                                <div class="nav-name">Group</div>
                            </div> 
                            <div class="nav-link">
                                    <a routerLink="/chat"></a>
                                    <i class="fa fa-wechat"></i> 
                                    <div class="nav-name">Chat</div>
                                </div> 
                                <div class="nav-link">
                                        <a routerLink="/store"></a>
                                        <i class="fa fa-shopping-basket"></i> 
                                        <div class="nav-name">Store</div>
                                    </div>
                                    <div class="nav-link">
                                            <a routerLink="/support"></a>
                                            <i class="fa fa-question"></i> 
                                            <div class="nav-name">Support</div>
                                        </div>

     </div>
</div>